<%= render 'progress_styles' %>

<div class="container playlist-progress-container"
     <% unless @completed || @update_info.blank? %>
       data-controller="progress-polling"
       data-progress-polling-url-value="<%= spotify_playlists_progress_stream_path %>"
       data-progress-polling-interval-value="1000"
     <% end %>>
  <div id="progress-container" class="progress-container">
    <% if @update_info.blank? %>
      <%= render 'no_update_card' %>
    <% elsif @completed %>
      <%= render 'completed_card' %>
    <% else %>
      <%= render 'processing_card' %>
    <% end %>
  </div>
</div>
