<div class="admin-page-header">
  <div class="admin-page-title">
    <span class="admin-kicker"><%= @resource_config.label %></span>
    <h1><%= t('admin.titles.edit', resource: @resource_config.label) %></h1>
    <p><%= @record.to_param %></p>
  </div>
  <div class="admin-page-actions">
    <%= link_to admin_resource_path(@resource_config.key, @record), class: 'btn admin-btn' do %>
      <%= admin_icon(:arrow_left) %>
      <span><%= t('admin.actions.back_to_show') %></span>
    <% end %>
  </div>
</div>

<%= render 'form', record: @record, resource_config: @resource_config, url: admin_resource_path(@resource_config.key, @record), method: :patch %>
