<div class="admin-page-header">
  <div class="admin-page-title">
    <span class="admin-kicker"><%= @resource_config.label %></span>
    <h1><%= t('admin.titles.new', resource: @resource_config.label) %></h1>
    <p><%= @resource_config.description %></p>
  </div>
  <div class="admin-page-actions">
    <%= link_to admin_resources_path(@resource_config.key), class: 'btn admin-btn' do %>
      <i class="bi bi-arrow-left" aria-hidden="true"></i>
      <span><%= t('admin.actions.back_to_index') %></span>
    <% end %>
  </div>
</div>

<%= render 'form', record: @record, resource_config: @resource_config, url: admin_resources_path(@resource_config.key), method: :post %>
